.hidden {
	display: none !important;
}

.right-text {
	text-align: right !important;
}

.yellow-bg {
	background-color: $yellow !important;
}

.green-bg {
	background-color: $green !important;
}

.red-bg {
	background-color: $red !important;
}

.grey-bg {
	background-color: $grey !important;
}

.blue-bg {
	background-color: $blue !important;
}

.white-bg {
	background-color: $white !important;
}

.yellow {
	color: $yellow !important;
}

.green {
	color: $green !important;
}

.red {
	color: $red !important;
}

.grey {
	color: $grey !important;
}

.blue {
	color: $blue !important;
}

.white {
	color: $white !important;
}
