.modal {
	position: absolute;
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
		0px 1px 14px 0px rgba(0, 0, 0, 0.12);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 64px);
	@include respond-to('small') {
		top: 40%;
		width: 800px;
	}

	.header {
		background-color: $blue;
		.MuiCardHeader-avatar {
			color: $white;
		}
		.MuiCardHeader-title {
			color: $white;
			font-size: 1rem;
		}
	}

	.footer {
		margin-top: 12px;
		flex: 0 0 auto;
		display: flex;
		padding: 8px 16px;
		align-items: center;
		justify-content: flex-end;
	}

	.footer > :not(:first-child) {
		margin-left: 8px;
	}
}
