// Colors system
$blacker:                   #262626;
$black:                     #333333;

// SHADES OF GREY
$light-grey:                #B1C4D3;
$grey:                      #707070;
$dark-grey:                 #262626;

// SHADES OF WHITE
$light-white:               #F6FAFD;
$white:                     #FFFFFF;
$dark-white:                #D3D3D3;

$red:                       #f44336;
$dark-red:                  #d32f2f;

$yellow:                    #ffeb3b;
$dark-yellow:               #fdd835;

$green:                     #4caf50;
$dark-green:                #43a047;

$blue:                      #2196f3;
$dark-blue:                 #1e88e5;

$breakpoints: (
  small:  767px,
  medium: 992px,
  large:  1200px
) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    @else {
      @warn "no breakpoint `#{$breakpoint}` available";
    }
}