// Colors system
$blacker:                   #262626;
$black:                     #333333;

// SHADES OF GREY
$light-grey:                #B1C4D3;
$grey:                      #707070;
$dark-grey:                 #262626;

// SHADES OF WHITE
$light-white:               #F6FAFD;
$white:                     #FFFFFF;
$dark-white:                #D3D3D3;