@import 'font';
@import 'variables';
@import 'app';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none !important;
}

.backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
